@model IEnumerable<eInvoicing.DTO.DocumentDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>EInvoicing|Documents</title>
<div class=" container ">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6  subheader-transparent " id="kt_subheader">
        <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">

                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">
                        Draft
                    </h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">
                                Documents
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">
                                Draft
                            </a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Card-->
    <div class="card card-custom gutter-b">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">
                    Recent Documents
                    <span class="d-block text-muted pt-2 font-size-sm">Recently added documents from ERP system</span>
                </h3>
            </div>
        </div>

        <div class="card-body">
            <!--begin: Search Form-->
            <!--begin::Search Form-->
            <div class="mb-7">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-xl-8">
                        <div class="row align-items-center">
                            <div class="col-md-4 my-2 my-md-0">
                                <div class="input-icon">
                                    <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query" />
                                    <span><i class="flaticon2-search-1 text-muted"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4 my-2 my-md-0">
                                <div class="d-flex align-items-center">
                                    <label class="mr-3 mb-0 d-none d-md-block">Status:</label>
                                    <select class="form-control" id="kt_datatable_search_status">
                                        <option value="">All</option>
                                        <option value="New">New</option>
                                        <option value="Failed">Failed</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Search Form-->
            <!--end: Search Form-->
            <!--begin: Selected Rows Group Action Form-->
            <div class="mt-10 mb-5 collapse" id="kt_datatable_group_action_form">
                <div class="d-flex align-items-center">
                    <div class="font-weight-bold text-danger mr-3">
                        Selected <span id="kt_datatable_selected_records">0</span> records:
                    </div>

                    @*<div class="dropdown mr-2">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                Update status
                            </button>
                            <div class="dropdown-menu dropdown-menu-sm">
                                <ul class="nav nav-hover flex-column">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <span class="nav-text">Pending</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <span class="nav-text">Delivered</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                            <span class="nav-text">Canceled</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>*@
                    @using System.Security.Claims;
                    @using Microsoft.AspNet.Identity;
                    @if (Request.IsAuthenticated &&
                    ((ClaimsPrincipal)HttpContext.Current.User).FindAll("Permission")
                    .Select(i => i.Value.ToLower()).Where(x => x == "submit" || x == "auto_submit").Count() > 0)
                    {
                        <button class="btn btn-sm btn-bg-light mr-2" type="button" id="kt_datatable_send">
                            Send <i class="far fa-arrow-alt-circle-right"></i>
                        </button>
                        <button class="btn btn-sm btn-bg-secondary  mr-2" type="button" id="kt_datatable_fetch_modal">
                            <i class="far fa-arrow-alt-circle-right"></i>
                        </button>
                        <button class="btn btn-sm btn-bg-light" type="button" id="kt_datatable_sendAll">
                            Send All <i class="far fa-arrow-alt-circle-right"></i>
                        </button>
                    }
                </div>
            </div>
            <!--end: Selected Rows Group Action Form-->
            <!--begin: Datatable-->
            <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable"></div>
            <!--end: Datatable-->
        </div>
    </div>
    <!--end::Card-->
    <!--begin::Modal-->
    <div id="kt_datatable_modal" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content" style="min-height: 400px;">
                <div class="modal-header py-5">
                    <h5 class="modal-title">
                        Errors
                        <span class="d-block text-muted font-size-sm">The reasons why this document is failed to send.</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <!--begin: Datatable-->
                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable_sub"></div>
                    <!--end: Datatable-->
                </div>
            </div>
        </div>
    </div>
    <!--end::Modal-->
</div>

<script src="~/Content/assets/js/pages/crud/ktdatatable/advanced/record-selection.js?v=7.0.6"></script>
<script src="~/Content/assets/js/pages/features/custom/spinners.js"></script>
<script>
    jQuery(document).ready(function () {
        $('input[name=postedFile]').change(function (ev) {
            if ($('input[name=postedFile]')[0].files.length == 0) {
                $("#_import").css("display", "none");
            }
            else {
                $("#_import").css("display", "");
            }
        });
        $("#del").on("click", function () {
            $("#_import").css("display", "none");
            $('input[name=postedFile]').val("");
        })
    });
</script>