@{
    Layout = null;
 }

<div class="row align-items-center">
        We've sent an e-mail to complete the registeration. @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "" })
</div>
