@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="text-center mt-4 font-weight-light">
    Thank you for confirming your email! @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "text-primary" }) 
</div>
