@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="text-center mt-4 font-weight-light">
    Your password has been reset! @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "text-primary" })
</div>



